.App {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.navbar {
  height: 100px;
  width: 100%;
  margin: auto;
  text-align: left;
  font-weight: bold;
}

.intro-row {
  padding-top: 10%;
}

.intro-col {
  float: left;
  width: 80%;
  text-align: left;
}

h1 {
  font-size: 75px;
  margin: 0;
  color: white;
}

h4 {
  font-size: 14px;
  margin: 0;
  color: white;
}

h5 {
  font-size: 18px;
  margin: 0;
  color: white;
}